# Python
venv/
__pycache__/
*.pyc

# Credentials
.env
profiles.yml

# Data files
data/raw/
data/synthetic/

# dbt (added in Phase 1)
target/
dbt_packages/
logs/

# OS
.DS_Store
Thumbs.db

#Snowflake key pair auth
snowflake_key_pub.p8
snowflake_key.p8

# dbt artifacts
dbt/target/
dbt/dbt_packages/
dbt/logs/